<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Encoder les données de la pièce</h1>
    <div id="inputs">
        <form action="/piece/encode" method="POST">
        <label>Pièce</label> :<input type="text" name="piece"><br>
        <label>Largeur</label> :<input type="number" name="largeur" id="larg"><br>
        <label>Longueur</label> :<input type="number" name="longueur" id="long"><br>
        <input type="submit" value="Enregistrer" class="button"/>
        </form>
    </div>
    <input type="button" value="Calculer la surface" class='button'/></div>
    <div id="av">
        
    </div>
    <script src="script.js"></script>
</body>
</html>